%nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    = link_to "Ramminti", root_path, class: "navbar-brand"
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarResponsive", "data-bs-toggle" => "collapse", type: "button"}
      Menu
      %i.fas.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        - if current_user.present?
          %li.nav-item
            = link_to current_user.first_name, contact_index_path, class: "nav-link"
        %li.nav-item
          = link_to "Spirituality for Devs!", spirituality_for_devs_path, class: "nav-link"
        - if params[:action] == "show"
          %hr/
          %li.nav-item
            = link_to "prev: #{@next_post.title}", post_path(@next_post.friendly_id), class: "nav-link" if @next_post
            = link_to "next: #{@prev_post.title}", post_path(@prev_post.friendly_id), class: "nav-link" if @prev_post