%nav.navbar
  %ul.navbar-nav.flex-row.flex-xl-column.flex-wrap
    - @shelves.each do |shelf|
      %li.nav-item.me-4.me-xl-0
        = link_to "#{posts_path(tag: Post::CAMINO_ZERO)}", class: "nav-link" do
          = "#{shelf.name.titleize}: "
          - if shelf.boxes.any?
            - shelf.boxes.each do |box|
              = box.title.titleize
              = "( #{shelf.posts_by_parent_box(box.id).count} )"
              %br
          - else
            = "( #{shelf.posts.count} )"
