%nav.navbar
  %ul.navbar-nav.flex-row.flex-xl-column.flex-wrap
    %li.nav-item.me-4.me-xl-0
      = link_to "Camino Zero ( #{@camino_0_count} )", "#{posts_path(tag: Post::CAMINO_ZERO)}", class: "nav-link"
    %li.nav-item.me-4.me-xl-0
      = link_to "Camino Uno: Cuentos ( #{@cuentos_count} )", "#{posts_path(tag: Post::CUENTOS)}", class: "nav-link"
