- content_for :title, flush: true do
  = @current_box&.title_to_show_on_main_banner

.d-flex.flex-column.col-12.col-xl-9.ms-auto.ms-xl-4.me-auto.px-3.px-lg-5.align-self-stretch{:style=>"max-width: 1000px; overflow-y: hidden"}
  - @active_posts.each do |post|
    .post-preview
      - link_with_params = params[:show_draft].present? ? post_path(post.friendly_id, show_draft: true) : post_path(post.friendly_id)
      = link_to link_with_params do
        %h3.mt-0.post-title= post.title
        %h4.post-subtitle= post.summary
      %div.next-prev-wrapper.d-flex{style: "align-items: flex-end;"}
        .mb-0.post-meta
          = link_to "Seguir Leyendo", link_with_params, class: "btn btn-secondary", html: {style: "width: 230px;"}
        .mb-0.post-meta
          - post.tags.each do |tag|
            - link_with_params_for_tag = params[:show_draft].present? ? posts_path(show_draft: true, tag: tag.name) : posts_path(tag: tag.name)
            = link_to link_with_params_for_tag do
              %span.badge.badge-pill.badge-brown=tag.name
        .mb-0.post-meta
          = post.created_at.strftime("%B %d, %Y")

    %hr/

  .col-lg-8.col-md-10.mx-auto.d-flex.d-xl-block.align-items-center.justify-content-center
    .digg_pagination
      = will_paginate @active_posts
