- @posts.each do |post|
  .post-preview
    = link_to post_path(post.friendly_id) do
      / %a{:href => "post.html"}
      %h2.mt-0.post-title= post.title
      %h3.post-subtitle= post.summary
    %div.next-prev-wrapper
      %p.mb-0.post-meta
        = link_to "Read More", post_path(post.friendly_id)
      %p.mb-0.post-meta
        = post.created_at.strftime("%B %d, %Y")

  %hr/

.col-lg-8.col-md-10.mx-auto
  .digg_pagination
    = will_paginate @posts