- @posts.each do |post|
  .col-lg-8.col-md-10.mx-auto
    .post-preview
      = link_to post_path(post.friendly_id) do
        / %a{:href => "post.html"}
        %h2.post-title= post.title
        %h3.post-subtitle= post.summary
      %p.post-meta
        = post.created_at.strftime("%B %d, %Y")
    %hr/


.col-lg-8.col-md-10.mx-auto
  .digg_pagination
    = will_paginate @posts
  -# .clearfix
  -#   %a.btn.btn-primary.float-right{:href => "#!"} Older Posts →
