.d-flex.flex-column
  .col-12.col-xl-9.ms-auto.ms-xl-4.me-auto.ps-lg-5{:style=>"max-width: 800px; overflow-y: hidden"}
    %article.my-70
      = render partial: "shared/breadcrumbs"
      %h1= @post.title
      %h5
        - @post.tag_list.each do |tag|
          - link_with_params_for_tag = params[:show_draft].present? ? posts_path(show_draft: true, tag: tag) : posts_path(tag: tag)
          = link_to link_with_params_for_tag do
            %span.badge.badge-pill.badge-brown=tag
      = @post.content.html_safe
= content_for :comments_on_single_post do
  .container
    .row
      .next-prev-wrapper
        = link_to "prev: #{@next_post.title}", post_path(@next_post.friendly_id), class: "btn btn-secondary downset-1" if @next_post
        = link_to "next: #{@prev_post.title}", post_path(@prev_post.friendly_id), class: "btn btn-secondary" if @prev_post

  .container
    .row
      .div
        %hr
      %h5#sayHi Say hi:
      .col-lg-8.col-md-10.mx-auto
        - post_params = {post_id: @post.id}
        - post_params = params[:show_draft].present? ? post_params.merge!({show_draft: params[:show_draft]}) : post_params
        = form_with url: post_comments_path(post_params), html: {id: 'contactForm'} do |form|
          - flash.each do |type, msg|
            - alert = type == "alert" ? 'danger' : 'success'
            %div.col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2.alert{class: "alert-#{alert}",role: "alert" }
              = msg
          .control-group
            .form-group.floating-label-form-group.controls
              %label E-mail:
              = form.text_field :name, class: "form-control", placeholder: "name@example.com", value: params[:name]
          .control-group
            .form-group.floating-label-form-group.controls
              %label Comment:
              = form.text_area :content, class: "form-control", placeholder: "Comment out...", rows: 3, value: params[:content]
          %br/
          .control-group
            = form.submit "Send", class: "btn btn-primary", id: "sendMessageButton"
          %br/
  %article
    .container
      .row
        .div
          %hr
        %h5 Comments:
        .col-lg-8.col-md-10.mx-auto
          - if @comments.any?
            - @comments.each do |comment|
              .card.mb-4
                .card-body
                  %p= comment.content
                  .d-flex.justify-content-between
                    .d-flex.flex-row.align-items-center
                      %p.small.mb-0.ms-2= comment.name.split("@")[0]