- content_for :title, flush: true do
  = @post&.title_to_show_on_main_banner

- paypal_order = nil
- if current_user.present?
  - paypal_order = current_user.orders.where(post_id: @post.id, status: Order.statuses[:paypal_executed]).first

- if @post.is_private? && !paypal_order.present?
  = render partial: "posts/private_state", locals: { post: @post }
- else
  = render partial: "posts/post_content", locals: { post: @post }
= content_for :comments_on_single_post do
  = render partial: "posts/next_prev_buttons", locals: { next_post: @next_post, prev_post: @prev_post }
  = render partial: "posts/new_comment_form", locals: { post_id: @post.id }
  = render partial: "posts/comment_list", locals: { comments: @comments }

= content_for :paypay_buttons do
  %script{:src => "#{ENV['PAYPAL_BASE_URL']}" + "/sdk/js?client-id=" + "#{ENV['PAYPAL_CLIENT_ID']}"}
  :javascript
    paypal.Buttons({
      env: "#{ENV['PAYPAL_ENV']}",
      style: {
        layout: "vertical",
        borderRadius: 10,
        color: "blue",
        shape: "rect",
      },
      async createOrder() {
        const post_sku = '#{@post.slug}'
        const post_id = #{@post.id}
        const donation_value = $("#donationValue").val()
        const response = await fetch("/paypal/orders", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              post_id: post_id,
              cart: [{
                  sku: post_sku,
                  quantity: 1,
                  donation_value: donation_value
              }]
            })
        });
        const order = await response.json();
        return order.id;
      },
      async onApprove(data) {
        const post_id = #{@post.id}
        const response = await fetch(`/paypal/orders/${data.orderID}/captures`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            post_id: post_id,
            order_id: data.orderID
          })
        })

        const details = await response.json();
        window.location.reload();
      }
    }).render('.paypal-conteiner');
