- if @post.is_private?
  = render partial: "posts/private_state", locals: { post: @post }
- else
  = render partial: "posts/post_content", locals: { post: @post }
= content_for :comments_on_single_post do
  = render partial: "posts/next_prev_buttons", locals: { next_post: @next_post, prev_post: @prev_post }
  = render partial: "posts/new_comment_form", locals: { post_id: @post.id }
  = render partial: "posts/comment_list", locals: { comments: @comments }

= content_for :paypay_buttons do
  %script{:src => "https://sandbox.paypal.com/sdk/js?client-id=AX8h7DwgyNyRPMzhbgGJ9SRmu4ltSkXqQuqQJzURcbjOtuSbcIY5JQp3inI8wNfJVeFU2GG8bZIT0bG8"}
  :javascript
    paypal.Buttons({
      async createOrder() {
        const post_sku = '#{@post.slug}'
        const donation_value = $("#donationValue").val()
        const response = await fetch("/paypal/orders", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
              cart: [{
                  sku: post_sku,
                  quantity: 1,
                  donation_value: donation_value
              }]
            })
        });
        const order = await response.json();
        return order.id;
      },
      style: {
        layout: "vertical",
        borderRadius: 10,
        color: "blue",
        shape: "rect",
      }
    }).render('.paypal-conteiner');
